<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Matemágicos</title>
    <!-- Agregar los enlaces a los archivos CSS y JavaScript de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/456e5e7db9.js" crossorigin="anonymous"></script>
    <!-- Estilo CSS personalizado -->
    <link rel="stylesheet" href="../resources/css/index.css">
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="../resources/img/logo.svg" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">Sobre Nosotros</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h1>Bienvenidos a matemágicos</h1>
                <p>En Matemágicos, hemos creado un espacio mágico y emocionante donde los niños pueden explorar y
                    dominar las matemáticas de una manera divertida y cautivadora. Sabemos que las matemáticas pueden
                    ser un desafío, pero creemos que también pueden ser una aventura emocionante.</p>
                <p>Nuestra plataforma está diseñada específicamente para niños, con lecciones interactivas, juegos
                    educativos y actividades estimulantes que hacen que aprender matemáticas sea tan fácil como contar
                    hasta tres. Aquí, los números se convierten en amigos y los problemas se transforman en rompecabezas
                    emocionantes que esperan ser resueltos.</p>
            </div>
            <div class="col-lg-6">
                <img src="../resources/img/kids.svg" alt="Ilustración educativa" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        &copy; 2023 Matemágicos
    </footer>
</body>

</html>